@{
    ViewBag.Title = "Issuer | Welcome";
}

<div class="hero-unit">
    <h1>@ViewBag.Slogan</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    </p>
    <p>
        <a class="btn btn-success btn-large" href="@Url.Action("new", "issues")">Create issue now! &raquo;</a>
        <a class="btn btn-success btn-large" href="@Url.Action("all", "issues")">View all issues &raquo;</a>

    </p>
</div>
