[Oo]bj/
[Bb]in/
App_Data
*.user
/TestResults
*.vspscc
*.vssscc
deploy
deploy/*
*.suo
*.cache
packages/
msbuild.log
artifacts/log
artifacts/
post-build*
_ReSharper.*
*deploy-to-ec2*
*ncrunch*